{% extends "base.html" %}

{% block title %}
    <title>IxoriDB - Blast</title>
{% endblock title %}

{% load crispy_forms_tags %}
{% block blast_class %}<li class="active">{% endblock %}

{% block core %}
<h2>Blast to IxoriDB</h2>
<div class="line"></div>
    <form method="POST" enctype = "multipart/form-data" class="post-form">{% csrf_token %}
        <div class="form-group col-md-12 mb-0">
        {{ formBlast.sequence|as_crispy_field }}
        </div>
        <br>
        <div class="form-group col-md-12 mb-0">
        {{ formBlast.file_seq|as_crispy_field }}
        </div>
        <div class="line"></div>
        <div class="form-group col-md-3 mb-0">
        {{ formBlast.typeofsequence|as_crispy_field }}
        </div>
        <div class="line"></div>
        <z href="#formAdvanced" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle2">
            <i class="fas fa-cog"></i>
            Advanced options
        </z>
        <p>

        </p>
        <ul class="collapse list-unstyled" id="formAdvanced">
            <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ formBlast.evalue|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ formBlast.word_size|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ formBlast.max_target_seqs|as_crispy_field }}
            </div>
            </div>
        </ul>
        <div class="line"></div>
            <button class="button btn-lg loading buttonload" type="submit" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Blasting...">
        Blast
    </button>
    <button class="button" type="button" id="example">Load Example</button>
    </form>
{% endblock %}

{% block add_scripts %}
    <script>
    $(document).ready(function(){
        $('#example').on('click', function(){
            $('#id_sequence').val(">Example_sequence_1\nSTFHAQLLKVDFVNGGQAAIDEINRWVKQK\n>Example_sequence_2\nVLGWKTQDPTNPKFDNLAHYAVSTQVEVREYYDTVLELLEVKTQIVAA\n");
        });
    });
    </script>
{% endblock %}
