{% extends "base.html" %}

{% block title %}
    <title>IxoriDB - Blast - Results</title>
{% endblock %}

{% block add_load %}
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" crossorigin="anonymous">
{% endblock %}

{% block blast_class %}<li class="active">{% endblock %}

{% block core %}
<h2>Results</h2> <h5>Work ID: {{ work }}</h5>
<div class="line"></div>
<c>Please insert a valid Fasta formatted file/sequences</c>
{% endblock %}

{% block add_scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>



<script type="text/javascript">
$(document).ready(function() {
    $('#infotable').DataTable( {
        dom: '<"top"B>rt<"clear">',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
        ]
    } );
} );
</script>
{% endblock %}