{% extends "base.html" %}

{% block title %}
    <title>IxoriDB - Browse protein</title>
{% endblock title %}

{% load crispy_forms_tags %}

{% block collapse %}{% endblock %}
{% block bprotein_class %}<li class="active">{% endblock %}
{% block core %}
<h2>Browse by protein with the best homology</h2>
<div class="line"></div>
{#    <h4>Browse by ID</h4>#}
    <div class="row">
        <div class="col-lg-6">
    <form method="POST" class="post-form">{% csrf_token %}
        {{ formID|crispy }}
            <button class="button btn-lg loading buttonload" type="submit" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Searching...">
        Search
    </button>
        <button class="button" type="button" id="example">Load Example</button>
    </form>
                    </div>
    </div>
{% endblock %}

{% block add_scripts %}
    <script>
    $(document).ready(function(){
        $('#example').on('click', function(){
            $('#id_TranscriptID').val("A0A0K8RKU6");
        });
    });
    </script>
{% endblock %}